# Utilização de biblioteca de análise de dados (Pandas)

Pandas é uma das bibliotecas mais utilizadas para análise de dados no Python

In [3]:
# Função para consumo da API
# Pandas trabalha bastante com dataframes

import numpy as np
import pandas as pd

def leitor_dados(url: str) -> pd.DataFrame:
    
    dados = pd.read_csv(url)
    
    return dados

In [4]:
# Função para input da URL

def get_url():
    url = input ("Digite a URL do arquivo .CSV que deseja analisar: ")
    
    return url

In [18]:
def coluna_desejada()-> str:
    coluna = input("Qual coluna do DataFrame deseja analisar? ")
    
    return coluna

In [17]:
import matplotlib.pyplot as plt

def plotter(dados: pd.DataFrame, coluna: str) -> None:
    plt.plot(dados[coluna])
    plt.show()

In [ ]:
# Função para imprimir as estatísticas solicitadas:

def imprime_estatistica(estatisticas: list) -> None:
    media = estatisticas[0]
    dp = estatisticas [1]
    
    print(f" A média da coluna desejada é {media}")
    print("\n")
    print(f" O desvio padrão dos dados da coluna desejada é {dp}")

In [8]:
# Acessando APIs
import requests

dados = requests.get("https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoDolarPeriodo(dataInicial=@dataInicial,dataFinalCotacao=@dataFinalCotacao)?%40dataInicial='12-11-2023'&%40dataFinalCotacao='12-11-2023'")
json_data = dados.json()

In [21]:
valores = json_data['value']

In [24]:
type(json_data)

dict

In [1]:
# Pega o primeiro elemento da lista (que é um dicionário),e então acessa a chave 'cotacaoVenda'
valor_dolar = valores[0]['cotacaoVenda']

NameError: name 'valores' is not defined

In [2]:
# Abrindo o csv direto no site do TCE RS

despesas = pd.read_csv("https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv")

In [4]:
# Metodo head para pegar os 5 primeiros
despesas.head(5)

,ANO,MES,COD_MUNICIPIO,NOME_MUNICIPIO,CD_ORGAO,NOME_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,NOME_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
0,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1291047.08,99401.81,99401.81,0.0,0.0,0.0
1,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,251900.00,30456.87,0.00,0.0,0.0,0.0
2,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,6206.47,6206.47,6206.47,0.0,0.0,0.0
4,2023,1,149,PORTO ALEGRE,88399,AGESAN - AGÊNCIA REGULADORA INTERMUNICIPAL DE ...,306703,1,AGESAN-RS,1,...,0.0,0.0,0.0,0.0,1239.00,1239.00,1239.00,0.0,0.0,0.0

In [6]:
# Numero de linhas e colunas
despesas.shape

(427628, 41)

In [5]:
url = get_url()

Digite a URL do arquivo .CSV que deseja analisar:  https://dados.tce.rs.gov.br/dados/municipal/balancete-despesa/2023.csv

In [6]:
dados = leitor_dados(url)

In [7]:
# Pegando o total de valor liquidado
total_liquidado = dados['VL_LIQUIDADO'].sum()

In [8]:
print(f'O valor total liquidado foi {total_liquidado:,.2f}')

O valor total liquidado foi 51,737,740,880.02

In [10]:
# Summary statistics
dados['VL_EMPENHADO'].mean()
dados['VL_EMPENHADO'].median()

280.0

In [11]:
dados.describe()

,ANO,MES,COD_MUNICIPIO,CD_ORGAO,CD_RECEBIMENTO,CD_ORGAO_ORCAMENTARIO,CD_UNIDADE_ORCAMENTARIA,CD_FUNCAO,CD_SUBFUNCAO,CD_PROGRAMA,...,VL_REDUCAO_RECURSO,VL_TRANSFERENCIA,VL_TRANSPOSICAO,VL_REMANEJAMENTO,VL_EMPENHADO,VL_LIQUIDADO,VL_PAGO,VL_LIMITADO,VL_RECOMPOSICAO,VL_PREVISAO_EXECUCAO
count,427628.0,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,427628.000000,...,427628.0,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05,4.276280e+05
mean,2023.0,9.970495,215.370981,61735.134084,313778.373336,8.132601,2.938454,11.569942,326.816401,244.257387,...,0.0,7.672035e+02,2.268333e+02,7.917381e+02,1.382644e+05,1.209877e+05,1.168090e+05,2.323018e+03,1.982150e+03,4.328473e+04
std,0.0,0.179712,139.315635,14038.087115,699.698238,7.579146,7.805054,7.568892,198.578317,802.124749,...,0.0,6.801197e+04,1.547658e+04,5.575785e+04,2.023172e+06,1.836041e+06,1.806534e+06,3.237229e+05,3.066145e+05,1.100036e+06
min,2023.0,1.000000,1.000000,40100.000000,305606.000000,1.000000,0.000000,1.000000,31.000000,0.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2023.0,10.000000,99.000000,49900.000000,313330.000000,5.000000,1.000000,8.000000,124.000000,10.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2023.0,10.000000,190.000000,59300.000000,313847.000000,7.000000,1.000000,10.000000,301.000000,42.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.800000e+02,6.252500e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,2023.0,10.000000,326.000000,72800.000000,314355.000000,9.000000,2.000000,13.000000,392.000000,120.000000,...,0.0,0.000000e+00,0.000000e+00,0.000000e+00,2.600798e+04,2.150328e+04,2.009411e+04,0.000000e+00,0.000000e+00,1.000000e+02
max,2023.0,10.000000,499.000000,88437.000000,314850.000000,99.000000,99.000000,99.000000,999.000000,9999.000000,...,0.0,3.384770e+07,5.300000e+06,1.700000e+07,5.291985e+08,4.125369e+08,4.124883e+08,1.183025e+08,1.166244e+08,4.010796e+08

In [14]:
# Ordenando de maneira decrescente

dados['VL_PAGO'].sort_values(ascending = False)

162403    4.124883e+08
425522    2.879923e+08
163569    2.807146e+08
425510    2.666335e+08
162955    2.497663e+08
              ...
187273    0.000000e+00
187274    0.000000e+00
187275    0.000000e+00
187276    0.000000e+00
427627    0.000000e+00
Name: VL_PAGO, Length: 427628, dtype: float64