# Testando a biblioteca SQlite no Python, para trabalhar com banco de dados

CREATE - Criar a tabela 
RETRIEVE - Consultar  
UPDATE - Adicionar valores na tabela 
DELETE - Excluir valores

In [1]:
import sqlite3

# Cria uma conexão
conn = sqlite3.connect('Agenda.db')

In [2]:
# Cria uma tabela com a conexão criada

conn = sqlite3.connect('Agenda.db')

# Criando a instrução sql
conn.execute(''' CREATE TABLE Agenda (Prenome TEXT NOT NULL, Nome_do_meio TEXT NOT NULL, Sobrenome TEXT NOT NULL, CodArea INT NOT NULL, Celular VARCHAR(9) NOT NULL,
Fixo INT, Estado TEXT, Cidade TEXT, Bairro TEXT, Logradouro TEXT, Nome_Logradouro TEXT, Numero INT,Complemento TEXT) ''')

print("Tabela criada")

# Fecha a conexão para salvar
conn.close()

OperationalError: table Agenda already exists

In [17]:
# Criou a tabela vazia, para incluir dados.

# Método INSERT

conn = sqlite3.connect('Agenda.db')
cursor = conn.cursor()

# INSERT INTO table (colunas) VALUES (valores)

cursor.execute(""" INSERT INTO Agenda (Prenome, Nome_do_meio, Sobrenome, CodArea, Celular,
Fixo, Estado, Cidade, Bairro, Logradouro, Nome_Logradouro, Numero,Complemento) VALUES ('Pedro', 'Henrique', 'Cervo', 51,"999999999",35953565,'RS','Porto Alegre','Centro','Rua','Teste',25,'Ap 50'); """)
conn.commit()


conn.close()

In [21]:
# Testando o método SELECT

conn = sqlite3.connect('Agenda.db')

# Seleciona todos registros da tabela com '*'
cursor = conn.execute("SELECT * FROM Agenda;")

for row in cursor:
    print (row[0])

dados = cursor.fetchall()

conn.close()

Pedro
Pedro

In [22]:
dados

[]

In [13]:
import sqlite3 as sql
def inserir(registro: list) -> sql.Cursor:
    conn = sql.connect("Agenda.db")
    conn.cursor()
    conn.execute("""
    INSERT INTO Agenda values registro;""")

In [24]:
#Connecting to sqlite
conn = sqlite3.connect('Agenda.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

#Retrieving data
cursor.execute('''SELECT * from Agenda''')

#Fetching 1st row from the table
result = cursor.fetchone();
lista = cursor.fetchall()
print(result)

('Pedro', 'Henrique', 'Cervo', 51, 999999999, 35953565, 'RS', 'Porto Alegre', 'Centro', 'Rua', 'Teste', 25, 'Ap 50')

In [25]:
lista

[('Pedro',
  'Henrique',
  'Cervo',
  51,
  999999999,
  35953565,
  'RS',
  'Porto Alegre',
  'Centro',
  'Rua',
  'Teste',
  25,
  'Ap 50')]